// fuente
@font-face {
    font-family: "Poppins";
    src: url('../font/Poppins-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url('../font/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url('../font/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}


// variables
$colorRed: #EA5454;
$colorGreen: #44D3D2;
$colorOrange: #FCAE4A;
$colorBlue: #549EF2;
$colorBlack: #4D4F62;
$colorWhite: #FAFAFA;
$fontFamily: "Poppins";


// global
body {
    margin: 0;
    background: $colorWhite;
    color: $colorBlack;
    font-family: $fontFamily;
}

main {
    padding-inline: 2rem;
    margin-block-start: 5.3125rem;
}


// estilos
.title {
    font-size: 1.5rem;
    letter-spacing: .01rem;
    font-weight: 200;
    text-align: center;

    &__span {
        display: block;
    }

    &__span--strong {
        font-weight: 600;
    }
}

.description {
    text-align: center;
    line-height: 1.5rem;
    opacity: 50%;
    max-inline-size: 33.75rem;
    margin-inline: auto;
}


.cardList {
    margin-block: 4.875rem;
}

.card {
    padding: 1.75rem;
    border-radius: .5rem;
    box-shadow: 0 1rem 30px -11px rgba(131, 166, 210, .5);
    margin-block-end: 1.5rem;
    background: #FFF;
    position: relative;
    overflow: hidden;

    &::before {
        content: " ";
        display: block;
        inline-size: 100%;
        block-size: .25rem;
        background: transparent;
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 600;
    }

    &__description {
        font-size: .8125rem;
        opacity: 50%;
        margin-block: 0 2rem;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.card--green::before {
    content: " ";
    background: $colorGreen;
}

.card--red::before {
    content: " ";
    background: $colorRed;
}

.card--orange::before {
    content: " ";
    background: $colorOrange;
}

.card--blue::before {
    content: " ";
    background: $colorBlue;
}


@media (min-width: 768px) {
    .cardList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.875rem;
    }
}

@media (min-width: 1440px) {

    .title {
        font-size: 2rem;
    }

    .cardList {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 7.8125rem);
        max-inline-size: 69.375rem;
        margin-inline: auto;
    }

    .card {
        margin-block-end: 0;
    }

    .card--red {
        grid-column: 2;
        grid-row: 1 / 3;
    }

    .card--green {
        grid-column: 1;
        grid-row: 2 / 4;
    }

    .card--blue {
        grid-column: 3;
        grid-row: 2 / 4;
    }

    .card--orange {
        grid-column: 2;
        grid-row: 3 / 5;
    }
}